<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.barberking">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberKing">
        <activity
            android:name=".Marcação.ConfirmarActivity"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B1D.D1B1"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B1D.D2B1"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B1D.D3B1"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B2D.D1B2"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B2D.D2B2"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.B2D.D3B2"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B3D.D1B3"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B3D.D2B3"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B3D.D3B3"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B4D.D1B4"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B4D.D2B4"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.B4D.D3B4"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.Barbeiro4Activity"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.Barbeiro3Activity"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.Barbeiro2Activity"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.Barbeiro1Activity"/>
        <activity
            android:name=".Marcação.Embreve"
            android:exported="false" />
        <activity
            android:name=".Marcação.BarberHouse.BarberHouseActivity"
            android:exported="false" />
        <activity
            android:name=".Marcação.Asgard.AsgardActivity"
            android:exported="false" />
        <activity
            android:name=".Jogo.JogoActivity"
            android:exported="false" />
        <activity
            android:name=".Jogo.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".Jogo.Question"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".InfoBarbearias.BarberHouse.barb4barbeirosActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.BarberHouse.barb4infoActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.Gentlemen.barb3infoActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.Gentlemen.barb3barbeirosActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.Asgard.barb2infoActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.Asgard.barb2barbeirosActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.LeleBarber.barb1barbeirosActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.LeleBarber.barb1infoActivity"
            android:exported="false" />
        <activity
            android:name=".Marcação.MarcacaoActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.BarbeariasActivity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.BarberHouse.barb4Activity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.Gentlemen.barb3Activity"
            android:exported="false" />
        <activity
            android:name=".MainnActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoBarbearias.Asgard.barb2Activity"
            android:exported="false" />
        <activity
            android:name=".InfoBarbearias.LeleBarber.barb1Activity"
            android:exported="false" />
        <activity
            android:name=".Inicio.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
    </application>

</manifest>